body {
    margin: 0;
    padding: 0;
    background-image: url('../Picture/bg1.jpg');
}
*{
    box-sizing: border-box;
}
.header{
    background-color: black;
    color: white;
    text-align: center;
    margin: 10px;
    height: auto;
    padding: 5px;
}
b{
    float: right;
    padding-right: 30px;
    padding-left: 10px;
}
.content{
    width: 800px;
    height: 550px;
    border: 1px solid black;
    text-align: center;
    margin: 80px auto;
    background-color: #808080;
}
p{
    color: yellow;
    margin-top: 20px;
    font-size: 25px;
}
#lblKQ{
    font-size: 50px;
}