body {
    margin: 0px;
    padding: 0px;
}
.content{
    width:960px;
    height: 500px;
    border: 3px solid black;
    margin: 50px auto;
}
h1{
    text-align:center;
    font-weight: bold;
}
#lblHoTen, #lblNgaySinh, #lblGioiTinh, #lblDienThoai, #lblEmail, #lblDiaChi {
    width: 100%;
    height: auto;
    /*border-bottom: 1px solid #808080;*/
    font-size: 1.5em;
    color: red;
    font-weight: bold;
    padding-left: 22px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.clear{
    width: 95%;
    height: 1.5px;
    margin: 5px auto;
    background-color: #808080;
}